/*
    ===========================
    ********** Reset **********
    ===========================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul li {
  list-style-type: none;
}

/*
    ===========================
    ********* Global *********
    ===========================
*/
:root {
  --dark: hsl(26, 32%, 29%);
  --light: hsl(39, 42%, 88%);
}

html {
  background-color: #50b2d9;
}

body {
  font-family: cursive;
  font-size: 1.25rem;
  word-break: break-word;
  word-wrap: break-word;
  padding: 2rem;
  color: var(--dark);
  text-shadow: 0.15rem 0.15rem 0.5rem var(--light);
  background-image: url('./img/Portrait.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bg-move 2s;
  animation-fill-mode: forwards;
}

@keyframes bg-move {
  10% { background-position: top right; }
  100% { background-position: center; }
}

.btn {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-shadow: 0.15rem 0.15rem 0.5rem var(--light);
  background-color: var(--light);
  box-shadow: 0.25rem 0.25rem 0.5rem var(--dark);
  border-radius: 0.25rem;
  transition: all 600ms ease-in-out;
}

.btn:hover {
  color: var(--light);
  background-color: var(--dark);
  transition: all 600ms ease-in-out;
}

input,
input::placeholder {
  font-family: cursive;
  font-size: 1.25rem;
  color: var(--dark);
  background-color: var(--light);
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

/*
    ===========================
    ********* Layout *********
    ===========================
*/
h1 {
  position: relative;
  margin-top: 3rem;
}

h1::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  right: 0;
  background-image: url('./img/PolyBridge.png');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 95%;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin: 2rem auto;
}

.container section {
  padding: 1rem;
}

.display-score header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.refresh-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.display-score ul {
  margin: 1.725rem 0;
  background-color: hsla(38, 41%, 88%, 0.85);
  box-shadow: 0.25rem 0.25rem 0.5rem var(--dark);
  border-radius: 0.25rem;
  transform: scale(0);
  animation: scaling 1s ease-in-out 1s forwards;
}

@keyframes scaling {
  100% { transform: scale(1); }
}

.display-score ul li {
  padding: 0.5rem;
}

.display-score ul > li:nth-child(even) {
  background-color: hsla(26, 32%, 29%, 0.25);
}

.add-score form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.725rem 0;
}

.submit-btn {
  align-self: flex-end;
}

/*
    ============================================
    ******* MEDIA QUERY min-width 768px *******
    ============================================
*/
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    flex-direction: row;
  }

  .container section {
    width: 50%;
  }
}
