/*
    ===========================
    ********** Reset **********
    ===========================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid green; */
}

* ul li {
  list-style-type: none;
}

/*
    ===========================
    ********* Global *********
    ===========================
*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  padding: 2rem;
}

.btn {
  cursor: pointer;
  border: 1px solid grey;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem grey;
}

input,
input::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/*
    ===========================
    ********* Layout *********
    ===========================
*/
.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}

.container section {
  padding: 1rem;
}

.display-score header {
  display: flex;
  justify-content: space-between;
}

.refresh-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.display-score ul {
  border: 1px solid grey;
  margin: 1.725rem 0;
}

.display-score ul li {
  padding: 0.5rem;
}

.display-score ul > li:nth-child(even) {
  background-color: hsl(0 0% 50% / 30%);
}

.add-score form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.725rem 0;
}

.submit-btn {
  align-self: flex-end;
}

/*
    ============================================
    ******* MEDIA QUERY min-width 768px *******
    ============================================
*/
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    flex-direction: row;
  }

  .container section {
    width: 50%;
  }
}
